* {
  font-family: Markazi;
  color: #f4ce14;
}

.App {
  text-align: center;
  background-color: #495e57;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a:link {
  text-decoration: none;
}

.Hero h1,h2{
  display: flex;
  justify-content: left;
  text-align: left;
}

.Image {
  width: 35vw;
  border-radius: 5%;
}

.Button {
  justify-content: flex-end;


}



.NavBar {
  background-color: #edefee;
  padding-left: 5vw;
  padding-right: 5vw;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  list-style: none;
  text-decoration: none;
  margin-top: 0;
  transition: ease-in;
  

}

.NavBar a {
  color: #495e57;
  font-weight: bold;
}

.NavBar a:hover {
  color: #ee9972;
  transition-duration: 200ms;
}


.App-link {
  color: #61dafb;
}
